@use 'helpers' as *;

@use 'components/Footer/' as *;
@use 'components/Header/' as *;
@use 'components/Main/' as *;

body {
  margin: 0;
  font-size: 16px;
  background: $bg-color;
  .rapper {
    height: 100vh;
    @include flex-column;
    @include Header;
    @include Main;
    @include Footer;
  }
}

@media only screen and (max-width: 800px) {
  body {
    height: 100vh;
    position: relative;
    &::before {
      content: '<🖥️ />';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $en;
      font-size: 2rem;
      color: #2b2b2b;
    }
    .rapper {
      display: none;
    }
  }
}
