@charset "UTF-8";
@font-face {
  font-family: nunito-sans;
  src: url("fonts/nunito-sans.ttf");
}
@font-face {
  font-family: palanquin;
  src: url("fonts/palanquin.ttf");
}
@font-face {
  font-family: single-day;
  src: url("fonts/single-day.ttf");
}
@font-face {
  font-family: yomogi;
  src: url("fonts/yomogi.ttf");
}
body {
  margin: 0;
  font-size: 16px;
  background: #ddeff5;
}
body .rapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body .rapper header {
  height: 10vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .rapper header .logo {
  font-family: single-day;
  font-size: 30px;
  color: #333333;
  text-decoration: none;
}
body .rapper header .search-bar {
  width: 200px;
  margin: 10px;
  padding: 6px 15px;
  font-family: yomogi;
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 20px;
  outline: none;
}
body .rapper header .search-bar:focus {
  border: 2px solid #0297f5;
}
body .rapper main {
  display: flex;
  flex-direction: row;
  flex: 1;
}
body .rapper main article {
  width: 50vw;
  max-height: 80vh;
  padding: 20px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
body .rapper main a {
  text-decoration: none;
}
body .rapper main a .card {
  background: #f6f9fc;
  padding: 20px;
  border: 1px solid rgba(14, 29, 41, 0.05);
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(52, 61, 68, 0.1);
  font-family: nunito-sans;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
}
body .rapper main a .card:hover {
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.15);
}
body .rapper main a .card:hover::before {
  background-color: #0297f5;
}
body .rapper main a .card::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}
body .rapper main a .card .title {
  max-width: 100%;
  margin: 0;
  padding-bottom: 1.2rem;
  letter-spacing: 0.5px;
  line-height: 1.8rem;
  font-weight: bold;
  color: #233044;
  font-family: nunito-sans;
}
body .rapper main a .card .desc {
  padding-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
body .rapper main a .card .desc span {
  font-family: palanquin;
  color: #686f94;
  opacity: 0.7;
}
body .rapper main aside {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .rapper main aside nav .tag.selected, body .rapper main aside nav .tag:hover {
  color: #0297f5;
  transform: translateY(-1px);
  border-color: rgba(30, 167, 253, 0.5);
}
body .rapper main aside nav .tag.selected::before, body .rapper main aside nav .tag:hover::before {
  opacity: 1;
}
body .rapper main aside nav {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
body .rapper main aside nav .tag {
  padding: 5px 10px;
  color: #333333;
  line-height: 24px;
  height: 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #f6f9fc none repeat scroll 0% 0%;
  border-radius: 5px;
  font-size: 14px;
  font-family: nunito-sans;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
body .rapper main aside nav .tag span {
  font-size: 14px;
  white-space: nowrap;
  color: #333333;
  line-height: 24px;
}
body .rapper main aside nav .tag:hover {
  cursor: pointer;
  transition: transform 150ms ease-out 0s, color 150ms ease-out 0s;
}
body .rapper main aside nav .tag::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px;
}
body .rapper main aside .pic-rap {
  display: none;
}
body .rapper main aside .pic-rap .pic {
  width: 50vw;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}
body .rapper footer {
  height: 10vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-family: yomogi;
  font-weight: 550;
}
body .rapper footer strong {
  color: #f8485e;
}

@media only screen and (max-width: 800px) {
  body {
    height: 100vh;
    position: relative;
  }
  body::before {
    content: "<🖥️ />";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: nunito-sans;
    font-size: 2rem;
    color: #2b2b2b;
  }
  body .rapper {
    display: none;
  }
}
