@use '../../helpers' as *;

@mixin Footer {
  footer {
    @include bar-layout;
    @include flex-align-center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-family: $jp;
    font-weight: 550;
    strong {
      color: #f8485e;
    }
  }
}
