@use '../../../helpers/' as *;

@mixin Card {
  a {
    text-decoration: none;
    .card {
      background: $el-color;
      padding: 20px;
      border: 1px solid rgba(14, 29, 41, 0.05);
      border-radius: 6px;
      box-shadow: 0px 1px 2px rgba(52, 61, 68, 0.1);
      font-family: $en;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      margin-bottom: 20px;
      &:hover {
        border-radius: 0px 0px 6px 6px;
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.15);
        &::before {
          background-color: $primary-color;
        }
      }
      &::before {
        position: absolute;
        content: '';
        top: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        transition: background-color 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
      }
      .title {
        max-width: 100%;
        margin: 0;
        padding-bottom: 1.2rem;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        line-height: 1.8rem;
        font-weight: bold;
        color: #233044;
        font-family: $en;
      }
      .desc {
        padding-top: 0.3rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        span {
          font-family: $desc;
          color: #686f94;
          opacity: 0.7;
        }
      }
    }
  }
}
