@use 'Card' as *;

@mixin Article {
  article {
    width: 50vw;
    max-height: 80vh;
    padding: 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  @include Card;
}
