@use '../../../helpers' as *;

@mixin Nav {
  nav {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    .tag {
      padding: 5px 10px;
      color: rgb(51, 51, 51);
      line-height: 24px;
      height: 24px;
      margin-right: 10px;
      margin-bottom: 10px;
      background: rgb(246, 249, 252) none repeat scroll 0% 0%;
      border-radius: 5px;
      font-size: 14px;
      font-family: $en;
      position: relative;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      span {
        font-size: 14px;
        white-space: nowrap;
        color: rgb(51, 51, 51);
        line-height: 24px;
      }
      &:hover {
        cursor: pointer;
        color: rgb(2, 151, 245);
        transform: translateY(-1px);
        border-color: rgba(30, 167, 253, 0.5);
        transition: transform 150ms ease-out 0s, color 150ms ease-out 0s;
        &::before {
          opacity: 1;
        }
      }
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out 0s;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px 0px;
      }
    }
  }
}
