@use '../../helpers' as *;

@use 'Logo' as *;
@use 'SearchBar' as *;

@mixin Header {
  header {
    @include bar-layout;
    @include flex-align-center {
      justify-content: space-between;
    }
    @include Logo;
    @include SearchBar;
  }
}
