@use '../../helpers' as *;

@mixin SearchBar {
  .search-bar {
    width: 200px;
    margin: 10px;
    padding: 6px 15px;
    font-family: $jp;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: $base-radius * 4;
    appearance: none;
    &:focus {
      outline: 1px solid $primary-color;
    }
  }
}
