@use 'variables' as *;

@mixin center-by-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-by-flex {
  display: flex;
  align-items: center;
  justify-items: center;
}

@mixin center-by-grid {
  display: grid;
  place-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-auto {
  flex: 1;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
  @content;
}

@mixin bar-layout {
  height: $bar-height;
  padding: $bar-padding;
}
