$ko: single-day;
$jp: yomogi;
$en: nunito-sans;

$primary-color: rgb(2, 151, 245);
$bg-color: rgb(221, 239, 245);
$el-color: rgb(246, 249, 252);
$txt-color: rgb(51, 51, 51);

$bar-height: 10vh;
$bar-padding: 0 50px;
$base-radius: 5px;
$logo-font-size: 30px;
$small-font-size: 14px;
